<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="icon" type="image/x-icon" href="img/icon-1.svg" />
	<link rel="stylesheet" type="text/css" href="css/main-style.css">
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	.lds-wave{
		margin-left: 20em;
	}
</style>
<body class="container-fluid">
<div id="ajax">
	<svg class="lds-wave" width="50%" height="50%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="11" cy="55.232" ng-attr-r="{{config.radius}}" fill="#f05125" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="0s" repeatCount="indefinite"></animate>
	</circle><circle cx="18" cy="65.1787" ng-attr-r="{{config.radius}}" fill="#fdb813" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
	</circle><circle cx="25" cy="69.4279" ng-attr-r="{{config.radius}}" fill="#7fbb42" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
	</circle><circle cx="32" cy="69.7524" ng-attr-r="{{config.radius}}" fill="#32a0da" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.25s" repeatCount="indefinite"></animate>
	</circle><circle cx="39" cy="66.4423" ng-attr-r="{{config.radius}}" fill="#f05125" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
	</circle><circle cx="46" cy="57.6673" ng-attr-r="{{config.radius}}" fill="#fdb813" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
	</circle><circle cx="53" cy="44.768" ng-attr-r="{{config.radius}}" fill="#7fbb42" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.5s" repeatCount="indefinite"></animate>
	</circle><circle cx="60" cy="34.8213" ng-attr-r="{{config.radius}}" fill="#32a0da" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
	</circle><circle cx="67" cy="30.572" ng-attr-r="{{config.radius}}" fill="#f05125" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
	</circle><circle cx="74" cy="30.2476" ng-attr-r="{{config.radius}}" fill="#fdb813" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.75s" repeatCount="indefinite"></animate>
	</circle><circle cx="81" cy="33.5577" ng-attr-r="{{config.radius}}" fill="#7fbb42" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
	</circle><circle cx="88" cy="42.3327" ng-attr-r="{{config.radius}}" fill="#32a0da" r="3">
	  <animate attributeName="cy" values="30;70;30" times="0;0.5;1" dur="1.8s" calcMode="spline" keySplines="0.5 0 0.5 1;0.5 0 0.5 1" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
	</circle></svg>
</div>
<div style="display:none;" id="body">
        <script type="text/javascript">
            $( document ).ready(function() {
                $("#ajax").fadeOut(700, function() {
                    $("#body").fadeIn(800);        
                });
                // $('#ajax').css({'display':'none'});
                // $('body').css({'display':'block'});    
            });
            
        </script>