<%include ./partials/header.ejs%>

<%include ./partials/navbar.ejs%>
<title>Keith Franklin - About</title>
<link rel="stylesheet" type="text/css" href="css/about.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Quicksand:300,500" rel="stylesheet">
<main class="container">
	<h1>Here's something about me</h1>
	<div class="row">
		<img src="img/main.jpg" class="img-responsive img-circle col-md-4" style="shape-outside:circle(); margin: 20px;">
		<p class='about-text'>
			My name is  Keith Franklin Jathanna. I am a full stack web-developer, basically a guy who makes websites.
			I live in the beautiful garden city, Bangalore, India. Most of my websites are developed with NodeJS on the back-end and bootstrap or materialize framework for CSS and jQuery. <br>
			I try to implement my web-designs with the simple idea that "Writing code is also art". The notion of programs being art may come off as a stretch for someone who doesn't write programs but it has it's own beauty and wonder to it. 
			I also like to listen to music. Ludovico enuaudi and Yanni are two composers I listen to as while I make designs into working web pages.
		</p>
	</div>
	<h1>Work Experience </h1>
</main>
	




<%include ./partials/footer.ejs%>

