<%include ./partials/header.ejs%>

<%include ./partials/navbar.ejs%>
<title>Keith Franklin - Contact</title>
<link rel="stylesheet" type="text/css" href="css/contact.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700|Tangerine:700" rel="stylesheet">

<main>
<!-- <h1>Contact me</h1> -->
	<div class="row">
	<div>
		<img src="img/rotating-circular-arrow_white.png" class="img-responsive" id="rotate-key" style="width: 50px;height: 50px">
	</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12 card" id="card">
			<div class="card-content front">
				<h1 class="name">Keith Franklin Jathanna</h1>
				<hr class="circle col-md-8 col-md-offset-2 col-xs-12">
				<div class="col-md-8 col-md-offset-2 col-xs-12">
					<p class="sub-title">Web Developer</p>
					<p class="sub-title">Full Stack Developer</p>
				</div>
				<hr class="sub col-md-8 col-md-offset-2 col-xs-12">
				<div class="circle-button-lists col-md-9 col-md-offset-2">
					<a href="#">
						<div class="circle-button">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
						<div class="circle-text">
							&nbsp;Keith Franklin&nbsp;
						</div>
					</a>
					<a href="#">
						<div class="circle-button">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</div>
						<div class="circle-text">
							&nbsp;Keith Franklin&nbsp;
						</div>
					</a>
					<a href="#">
						<div class="circle-button">
							<i class="fa fa-angellist" aria-hidden="true"></i>
						</div>
						<div class="circle-text">
							&nbsp;Keith Franklin Jathanna&nbsp;
						</div>
					</a>
					<a href="#" class='last'>
						<div class="circle-button">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="circle-text">
							&nbsp;keith30895@gmail.com&nbsp;
						</div>
					</a>
				</div>
			</div>
			<div class="card-content back">
				<div class="circle-button-lists col-md-4 col-md-offset-2 " id="lists">
				</div>
			</div>
		</div>
		
	</div>

</main>

<script src="js/contact-script.js"></script>


<%include ./partials/footer.ejs%>