<%include ./partials/header.ejs%>

<%include ./partials/navbar.ejs%>

<title>Keith Franklin - Home</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/slider.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
  	<script type="text/javascript" src="js/cloud.js"></script>

<main id="internal-content">
	<div class="fullScreenPage" id="page1">
		<div class="row">
		<div class="col-md-3 col-xs-4 col-xs-offset-3 col-sm-3 col-sm-offset-1 col-md-offset-3" > 
			<img src="img/main.jpg"  alt="http://placehold.it/350x350" class="img-circle" style="width:150px;height:150px;margin-top: -77px">
		</div>	
		</div>
		<h1 style="margin-bottom: 0px;margin-top: 10px; font-weight: 600; font-size: 2em">Keith Franklin Jathanna</h1>
		<h2> I am a web developer constantly looking for ways to make websites look seemless and visually apealing and doing so in the quickest and simplest way.</h2>
		<div class="row">
			<div class="col-md-12">
			<div class="col-md-1 col-sm-1" onclick="next();" style="padding-top: 10%;"> 
				<div id="section03" class="d">
					<a href="#" class="srr"><span></span></a>
				</div>		
			</div>
				<div id="myCanvasContainer"> 
					<canvas class=" col-md-offset-2 col-xs-12 col-md-6 col-sm-8 col-sm-offset-2" width="800" height="600" id="myCanvas" > 

						<p>
							Anything in here will be replaced on browsers that support the canvas element
						</p>
						<ul>
							<li><a href="#" target="_blank">Node.JS</a></li> 
							<li><a href="#">HTML</a></li> 
							<li><a href="#">CSS</a></li> 
							<li><a href="#">JavaScript</a></li> 
							<li><a href="#">JQuery</a></li>
							<li><a href="#">Angular 1.x</a></li>
							<li><a href="#">R</a></li>
							<li><a href="#">ChartJS</a></li>
							<li><a href="#">WordPress</a></li>
							<li><a href="#">Node</a></li>
							<li><a href="#">Bootstrap</a></li>
							<li><a href="#">Ionic</a></li>
							<li><a href="#">Java</a></li>
							<li><a href="#">BotBuilder</a></li>
							<li><a href="#">Passport</a></li>
							<li><a href="#">TypeScript</a></li>
						</ul> 
					</canvas> 
				</div>	
			</div>
		</div>
	</div>	
	<div class="fullScreenPage" id="page2">
		<div class="row">
			<div class="col-md-12">
				<h1 style="margin-top: 1em">Projects Worked On</h1>
				<div class="col-md-1 col-sm-1">

					<div  onclick="prev();" >
					<div id="section03" class="d u">
							<a href="#" class="srr"><span></span></a>
						</div>		
						
					</div> 	
					<div  onclick="next();" > 
					<div id="section03" class="d"  style="margin-bottom: 10em">
						<!-- <h1>Scroll Down Button #3</h1> -->
						<a href="#" class="srr"><span></span></a>
					</div>		
						
					</div>
				</div>
				
				<div class="col-md-3 col-sm-3">
					
					    <input type="radio" checked id="radio-front" name="select-face"/>    
					    <input type="radio" id="radio-1" name="select-face"/>
					    <input type="radio" id="radio-2" name="select-face"/>
					    <input type="radio" id="radio-3" name="select-face"/>
					    <input type="radio" id="radio-4" name="select-face"/>
					    <input type="radio" id="radio-5" name="select-face"/>
				    
					<div class="separator"></div>
					<div class="space3d">
					    <div class="_3dbox">
					      <a href="./Projects#"><div class="_3dface _3dface--front"></div></a>
					      <a href="./Projects#"><div class="_3dface _3dface--top"></div></a>
					      <a href="./Projects#"><div class="_3dface _3dface--bottom"></div></a>
					      <a href="./Projects#"><div class="_3dface _3dface--left"></div></a>
					      <a href="./Projects#"><div class="_3dface _3dface--right"></div></a>
					      <a href="./Projects#"><div class="_3dface _3dface--back"></div></a>
					    </div>
					</div>
					<div class="separator"></div>				
				</div>		  
				<div class="col-md-8 col-sm-8">
					<p class="project-description">
					</p>
				</div>  
				
			</div>
		</div>
	</div>
	<div class="fullScreenPage" id="page3">
		<div class="row">
			<section id="skill" class="sec col-md-12">
				<div class="row">
					<h1 class="text-center" style="margin-top: 0em; margin-bottom: 1em"> Computer Science Skills</h1>
					<div class="col-md-1 col-sm-1" >
						<div  onclick="prev();" >
						 	<div id="section03" class="d u">
								<!-- <h1>Scroll Down Button #3</h1> -->
								<a href="#" class="srr"><span></span></a>
							</div>		
						</div>
					 </div>
					<div class="container1 col-md-5 col-xs-12 col-sm-5" style="float:left;">
		 				<h2 style='margin-bottom:20px;'>Technicals skills(40 is proficient)</h2>
		  				<div>
		    				<canvas id="skills" class="reveal1" width="250" height="250"></canvas>
		    				<div id="js-legend" class="chart-legend">Out of 40</div>
						</div>
					</div>
					<div class="container1 col-md-5 col-xs-12 col-sm-5" style="float:left;">
		 				<h2>Still learning(20 is done)</h2>
		  				<div>
		    				<canvas id="skills2" class="reveal1"  width="250" height="250"></canvas>
		    				<div id="js-legend2" class="chart-legend" >Out of 40</div>
						</div>
					</div>
				</div>	
			</section>
		</div>
		<div class="row" style="background: black; color: white; padding: 2em;margin-top: 6em">
				<div class="Reach">
					Reach me on : 
					<br>
					<br>
					<br>
					<span style="font-size: .5em; margin-left: 10px;">designed and developed by Keith Franklin</span>
				</div>
					<div class="circle-button-lists">
						<a href="https://www.facebook.com/keith.franklin1">
						<div class="circle-button">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</div>
						</a>
						<a href="mailto:keith30895@gmail.com">
						<div class="circle-button">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						</a>
						<a href="https://www.instagram.com/keith_frank1in/">
						<div class="circle-button">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</div>
						</a>
						<a href="tel:8095679434">
						<div class="circle-button">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						</a>
					</div>
			</div>
	</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script type="text/javascript" src="https://amondit.github.io/jquery.scrollsteps.js/jquery.scrollsteps-full-min.js"></script>
	<script type="text/javascript" src="js/chart.js"></script>
	<script type="text/javascript" src="js/step.js"></script>
	<script src="js/main-script.js"></script>
<%include ./partials/footer.ejs%>


