<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>
<link rel="stylesheet" type="text/css" href="css/project.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


<title>Keith Franklin - Projects</title>
<main>
<h1> The different projects worked on.</h1>
	<div class="row prallax">
	</div>
	<div class="bg__foo_full">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<h1 style="font-weight: 300">Modules for the different projects</h1>
			<div class="row">
				<div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-1">
					<div class="card">
						<div class="card-content">
							<h1>file Upload to aws</h1>
						</div>
					</div>	
				</div>
				<div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-1">
					<div class="card">
						<div class="card-content">
							<h1>Authenthication with PassportJS</h1>
						</div>
					</div>	
				</div>
				<div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-1">
					<div class="card">
						<div class="card-content">
							<h1>WordPress theme</h1>
						</div>
					</div>	
				</div>
			</div>		
		</div>
	</div>
	</div>
	<div id="mob"></div>
</main>


<script src="js/project-script.js"></script>
<% include ./partials/footer.ejs %>