<div fxLayout="column" fxLayoutAlign="center">
    <div fxFlex='100' fxLayoutAlign="center"> 
        <img src="/assets/main.jpg"  alt="http://placehold.it/350x350"  style="border-radius:100px;width:150px;height:150px;margin-top: -77px">
      </div>
      <div style="padding:0px 30px">
          <h1 style="margin-bottom: 0px;margin-top: 10px; font-weight: 600; font-size: 2em">Keith Franklin Jathanna</h1>
          <h2 style="font-size:1.2em"> I am a web developer constantly looking for ways to make websites look seemless and visually apealing and doing so in the quickest and simplest way.</h2>
      </div>	
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap fxLayoutAlign.xs="start">
  <div id="myCanvasContainer">
    <canvas width="640" height="500" [ngStyle.xs]="{'width':'382px','height':'264px'}" id="myCanvas">

      <p>
        Anything in here will be replaced on browsers that support the canvas element
      </p>
      <ul>
        <li *ngFor="let ele of languages">
          <a>{{ele}}</a>
        </li>
      </ul>
    </canvas>
  </div>
</div>

<div fxLayout="column">
  <h2 fxFlex='100'>Projects Worked On</h2>
  <app-project-cude fxFlex='100' style="margin:10px;"></app-project-cude>
</div>
<div fxLayout="column">
    <h2 fxFlex='100'>Computer Science Skills</h2>
    <app-chart fxFlex='100'></app-chart>
</div>