<header class="cd-header" [ngClass]="{'nav-is-visible':cd_headerStatus}">

  <a  class="cd-logo">
    
    <blockquote id="page_id">
      Home.
    </blockquote>
  </a>
  <a  class="cd-3d-nav-trigger" (click)='cd_headerStatus=!cd_headerStatus;'>
    Menu
    <span></span>
  </a>
</header> <!-- .cd-header -->
<nav class="cd-3d-nav-container" [ngClass]="{'nav-is-visible':cd_headerStatus}">
  <ul class="cd-3d-nav">
    <li [ngClass]="{'cd-selected':cd_selectedStatus[i]}" *ngFor="let element of list;let i = index;">
      <a (click) = 'select(i)' >{{element}}</a>
    </li>
  </ul> <!-- .cd-3d-nav -->

  <span class="cd-marker color-1" [ngStyle]="{'left':calculate()}"></span>	
</nav> <!-- .cd-3d-nav-container -->